.cardContainer {
  height: 370px;
  width: 230px;
  background-color: #fcfcfc;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

img {
  width: 230px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
